* {
    padding:0px;
    margin:0px;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana, sans-serif;
    font-size: 13.34px;
}

ul {
    list-style:none;
}

em {
    font-style:normal;
    font-weight:bold;
}

label {
    font-weight:bold;
}

#editor {
    position: absolute;
    left: 200px;
    right:0px;
    top:0px;
    bottom:0px;
    background: white;
}

#treepane {
    position:absolute;
    width:190px;
    left:0px;
    top:0px;
    bottom:45px;
    padding:5px;
    overflow:auto;
}

#treepane select {
}

#files a {
    display:block;
    cursor:pointer;
    padding:3px;
    white-space:nowrap;
}
#files a:hover {
    background:#EEE;
}
#files a.selected {
    font-weight:bold;
}

#files > li {
    margin-top:10px;
}

.right {
    float:right;
}
.left {
    float:left;
}

.minibutton {
    -moz-border-radius: 3px 3px 3px 3px;
    background: -moz-linear-gradient(center top , #F4F4F4, #ECECEC) repeat scroll 0 0 transparent;
    border: 1px solid #D4D4D4;
    color: #333333;
    cursor: pointer;
    font-family: helvetica,arial,freesans,clean,sans-serif;
    font-size: 11px;
    font-weight: bold;
    overflow: visible;
    padding: 0 0 0 0px;
    position: relative;
    text-shadow: 1px 1px 0 #FFFFFF;
    white-space: nowrap;
}

.minibutton > span {
    display: block;
    height: 21px;
    line-height: 21px;
    padding: 0 9px 0 9px;
}

#panefooter {
    width:180px;
    padding:10px;
    position:fixed;
    bottom:0px;
    left:0px;
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #E4E4E4;
}

#overlay { 
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:100;
    background:#000;
    opacity:0.2;
}

.dialog { 
}

.dialog h2 { 
    border-bottom:1px solid #AAA;
    padding:10px;
}

.realcontent { 
    background:none repeat scroll 0 0 #E0E0E0;
    padding:10px;
}
.dialog {
    /* background: -moz-linear-gradient(100% 100% 107deg, #FFFFFF, #F4F9FB); */
    position:absolute;
    z-index:200;
    left:50%;
    margin-left:-225px;
    background:white;
    color: #333333;
    font-size: 12px;
    margin-top:65px;
    width:450px;
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 0 18px rgba(255, 255, 255, 0.4);
    border: 3px solid #AAA;
    -moz-border-radius: 4px 4px 4px 4px;
 